progress bar
css

#div_answerBox {
	text-align: center;
}

#div_question {
	margin-bottom: 20px;
}

#p_key " {
	text-align: center;
	font-size: 4em;
	margin: auto;
}

#p_question {
	style ="text-align: center;
	font-size: 4em;
	margin: auto;
}