#div_answerBox {
	text-align: center;
}

#div_answerBox>a {

}

#div_question {
	margin-bottom: 20px;
}

#div_question>p {
	text-align: center;
	font-size: 4em;
	margin: auto;
}

#div_appFoot{
	text-align: center;
	margin: auto;
	margin-top: 15px
}